albumentations==2.0.5
efficientnet_pytorch==0.7.1
ensemble-boxes==1.0.9
fastcore==1.7.17
fastjsonschema==2.21.1
labelbox==6.7.0
lightning-utilities==0.11.7
matplotlib==3.9.2
matplotlib-inline==0.1.7
opencv-python
opencv-python-headless
pandas
polars
tensorboard==2.18.0
tensorboard-data-server==0.7.2
timm==0.9.7
torch
torchmetrics==1.4.2
torchvision==0.19.1
tqdm==4.66.5
traitlets==5.14.3
triton==3.0.0
wonderwords==2.2.0
