# Training configs
model_run: fasterrcnn_resnet50

# Computation Device
device: cuda

# Images
images:
  resize: [1024, 1024]

# Metadata for normalization
metadata:
  norm_path: metadata/dataset_norm.json

# Logging
logging_level: DEBUG

# Directories
directories:
  train_dir: data/processed/train/labeled
  val_dir: data/processed/val/images
  test_dir: data/processed/test
  annotations_file: data/formatted_bboxes.json
  output_dir: outputs
  checkpoint_dir: model_checkpoints
  log_dir: logs/run_logs

# Training
training:
  epochs: 300
  sanity_check: True

# Model Architecture
model:
  backbone_out_channels: 256
  num_classes: 3
  detections_per_img: 100

# Optimizer stuff
optimizer:
  name: AdamW
  weight_decay: 0.001
  filter_bias_and_bn: True
  ema: True
  ema_decay: 0.9
  optimizer_params: 
    lr: 0.0003
    momentum: 0.9
    nesterov: True
    gamma: 0.99

# Scheduler stuff
scheduler:
  name: ExponentialLR
  gamma: 0.99

# Batch Sizes
batch_size: 6

# Multi-processing
num_workers: 6